html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #2f3241;
  color: #ffffff;
}

body.day-mode {
  background-color: #eceff2;
  color: #387fe1;
}

.navbar-collapse {
  background-color: #131722;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #131722;
}

.day-mode .dropdown-item:hover,
.day-mode .dropdown-item:focus {
  background-color: #ffffff;
}

.day-mode .navbar-collapse {
  background-color: #ffffff;
}

.day-mode .badge-primary {
  color: white;
}

a {
  color: #387fe1;
}

.nav-tabs {
  border-bottom: 0;
  padding-bottom: 5px;
  color: #387fe1;
}

.nav-tabs .nav-link {
  border: 0;
  color: #5385a3;
  font-weight: bold;
  font-size: 12px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #fff;
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #387fe1;
  font-weight: bold;
  font-size: 12px;
}

.day-mode .nav-tabs .nav-link.active,
.day-mode .nav-tabs .nav-item.show .nav-link {
  color: #387fe1;
}

.dropdown.navbar-right {
  padding-top: 3px;
}

.navbar-nav .nav-item .nav-link {
  font-size: 0.9rem;
  padding-top: 13px;
}

@media (min-width: 992px) and (max-width: 1400px) {
  .navbar-nav .nav-item .nav-link {
    font-size: 0.6rem;
  }
}

.card {
  background-color: #131722;
  border: 1px solid #363c4e;
}

.hljs {
  background-color: #131722 !important;
}

.day-mode .hljs {
  background-color: #ffffff !important;
}

.day-mode .card {
  background-color: #ffffff;
  border: 1px solid #dadde0;
}

.btn-primary {
  color: #fff;
  background-color: #387fe1;
  border-color: #387fe1;
}

label {
  color: #387fe1;
  font-weight: bold;
  font-size: 11px;
}

.form-control {
  color: #ffffff;
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #34596e;
  border-radius: 0;
  transition: 0;
}

.day-mode .form-control {
  color: #34596e;
  border-bottom: solid 1px #e5e5e8;
}

.form-control:focus {
  color: #ffffff;
  background-color: transparent;
  border-color: #387fe1;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #34596e;
}

.day-mode .form-control:focus {
  color: #34596e;
  background-color: #ffffff;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #34596e;
}

.form-check-label {
  color: #fff;
}

.form-control::-webkit-input-placeholder {
  color: #2f3241;
  opacity: 1;
}

.day-mode .form-control::-webkit-input-placeholder {
  color: #e5e5e8;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #2f3241;
  opacity: 1;
}

.day-mode .form-control::-moz-placeholder {
  color: #e5e5e8;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #2f3241;
  opacity: 1;
}

.day-mode .form-control:-ms-input-placeholder {
  color: #e5e5e8;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #2f3241;
  opacity: 1;
}

.day-mode .form-control::-ms-input-placeholder {
  color: #e5e5e8;
  opacity: 1;
}

.form-control::placeholder {
  color: #2f3241;
  opacity: 1;
}

.day-mode .form-control::placeholder {
  color: #e5e5e8;
  opacity: 1;
}

.bg-dark {
  background-color: #131722 !important;
}

.day-mode .bg-dark {
  background-color: #ffffff !important;
}

.day-mode .nav-item.active {
  background-color: #eceff2;
  color: #387fe1;
}

.nav-item.active {
  background-color: #2f3241;
  border-bottom: solid 1px #387fe1;
  color: white;
}

.day-mode .navbar-dark .navbar-nav .show > .nav-link,
.day-mode .navbar-dark .navbar-nav .active > .nav-link,
.day-mode .navbar-dark .navbar-nav .nav-link.show,
.day-mode .navbar-dark .navbar-nav .nav-link.active {
  color: #387fe1;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  text-transform: uppercase;
}

.navbar-dark {
  border-bottom: solid 1px #363c4e;
}

.day-mode .navbar-dark {
  border-bottom: solid 1px #dadde0;
}

.navbar-nav .nav-item {
  height: 45px;
}

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 5, 11, 0.8);
  transition: opacity 200ms ease-in-out;
  border-radius: 4px;
}

.overlay i {
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  color: white;
}

.day-mode h1,
.day-mode h2,
.day-mode h3,
.day-mode h4,
.day-mode h5 {
  color: #2f3241;
}

.badge-primary {
  background-color: #387fe1;
  color: #131722;
}

.center-box {
  max-width: 375px;
}

.badge {
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 15px;
}

.side-columns h4,
.center-column h4,
.navbar-columns h4,
footer h4 {
  text-transform: uppercase;
  color: #387fe1;
  font-size: 14px;
  font-weight: bold;
}

.icons {
  color: #387fe1;
}

.input-group-text {
  background-color: transparent;
  border: 0;
}

.table td,
.table th {
  border: 0;
  text-align: center;
  font-size: 13px;
  padding: 5px;
}

.table td:last-child,
.table th:last-child {
  text-align: right;
}

.table thead {
  background-color: #2f3241;
  color: #50819e;
  text-transform: uppercase;
}

.day-mode .table thead {
  background-color: #e5e5e8;
}

.table thead th {
  border: 0;
}

.table td:first-child,
.table th:first-child {
  text-align: left;
  color: #50819e;
}

.day-mode .card .row .col {
  color: #387fe1;
}

.chat-box-table a {
  color: #50819e;
}

.chat-box-table td {
  padding-left: 0;
}

.chat-box-table {
  max-height: 450px;
}

.chart-canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.text-lightblue {
  color: #50819e;
}

.text-blue {
  color: #387fe1;
}

.dropdown .btn-primary:active {
  color: white;
}

.dropdown-item {
  background-color: #131722;
  border: 0;
  color: #387fe1;
  border-bottom: solid 1px #34596e;
}

.dropdown-item a:hover {
  background-color: #131722;
}

.dropdown-menu {
  background-color: #2f3241;
  border: solid 1px #00040a;
  padding: 0;
}

.day-mode .dropdown-menu {
  background-color: #ffffff;
  border: solid 1px #dadde0;
  padding: 0;
}

.pricechart-dropdown {
  margin-top: -5px;
}

.nav-tab-right {
  color: #50819e;
  font-weight: bold;
  font-size: 15px;
}

.text-danger {
  color: #fe0048 !important;
}

.btn-danger {
  background-color: #fe0048;
}

.text-success {
  color: #00ae52 !important;
}

.btn-success {
  background-color: #00ae52;
}

.table tr:hover {
  background-color: #2f3241;
}

.day-mode .table tr:hover {
  background-color: #e5e5e8;
}

.not-bold {
  font-weight: normal !important;
}

.modal-content {
  background-color: #2f3241;
  border: solid 1px #00040a;
}

.day-mode .modal-content {
  background-color: #ffffff;
  border: solid 1px #e5e5e8;
}

.modal-header,
.modal-body,
.modal-footer {
  border: 0;
}

.close {
  color: #387fe1;
  text-shadow: none;
  font-weight: bold;
  opacity: 1;
}

.navbar-right {
  height: 40px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-left: solid 1px #2f3241;
}

.day-mode .navbar-right {
  border-left: solid 1px #e5e5e8;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar-login {
  min-width: 305px;
  padding: 10px;
  background-color: #131722;
  border: solid 1px #363c4e;
  z-index: 10;
  position: absolute;
}

.navbar-language {
  padding: 10px;
  background-color: #131722;
  border: solid 1px #363c4e;
  position: absolute;
  z-index: 10;
}

.day-mode .navbar-login {
  background-color: #ffffff;
  border: solid 1px #e5e5e8;
}

.day-mode .navbar-language {
  background-color: #ffffff;
  border: solid 1px #e5e5e8;
}

.day-mode .navbar-dark .navbar-nav .nav-link {
  color: #387fe1;
}

.icon-size {
  font-size: 87px;
}

.nav-link {
  padding: 0;
}

.navbar-nav .navbar-right a {
  line-height: 0;
}

.loaderannimation {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #387fe1;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.cursor-pointer {
  cursor: pointer;
}

.anychart-button {
  color: #fff;
  background-color: #387fe1;
  border-color: #387fe1;
  background-image: none;
  font-weight: bold;
}

.anychart-label-input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-size: 13px;
  height: 16px;
  padding: 5px 4px;
  color: #387fe1;
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #34596e;
  border-radius: 0;
  transition: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: transparent;
  cursor: not-allowed;
}

.orderbook-row {
  border-top: 3px solid #2f3241;
  border-bottom: 3px solid #2f3241;
  padding: 5px;
}

.day-mode .book-border {
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}

.overflow-y {
  overflow-y: auto;
}

.max-height-300 {
  max-height: 300px;
}

.max-height-600 {
  max-height: 600px;
}

.max-height-547 {
  max-height: 528px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 5px;
  background: #34596e;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #387fe1;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #387fe1;
  cursor: pointer;
}

.input-group-append {
  border-bottom: solid 1px #34596e;
}

.day-mode .input-group-append {
  border-bottom: solid 1px #e5e5e8;
}

.input-group-text {
  color: #34596e;
}

.day-mode .input-group-text {
  color: #387fe1;
}

.card-body {
  padding: 0.7rem;
  font-size: 13px;
}

h4 {
  margin-bottom: 0.05rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  padding-left: 5px;
  padding-right: 5px;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  display: none;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .switch-slider {
  background-color: #387fe1 !important;
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px #387fe1 !important;
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.switch-slider.round {
  border-radius: 17px;
}

.switch-slider.round:before {
  border-radius: 50%;
}

.title-blocks {
  background-color: #000b18;
  padding: 15px;
}

.title-blocks-leftborder {
  border-left: solid 1px #0d1724;
}

.title-blocks-rightborder {
  border-right: solid 1px #0d1724;
}

.title-blocks-noborder {
  border: 0;
}

.align-right {
  text-align: right;
}

span.h5 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
}

.sk-cube-grid {
  width: 64px;
  height: 64px;
  margin: 168px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #387fe1;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

input[type="range"]:disabled {
  cursor: not-allowed;
}

button.btn-sliderpercentage {
  background-color: transparent;
  border: 0;
  font-size: 80%;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.btn-sliderpercentage:hover {
  text-decoration: underline;
}

.btn-sliderpercentage:disabled {
  cursor: not-allowed;
}

.btn-sliderpercentage:focus {
  outline: 0 !important;
}

.zeromargin-zeropadding {
  padding: 0;
  margin: 0;
}

.twelve-percent-width {
  width: 12%;
}

.hundred-percent-width {
  width: 100%;
}

.position-absolute {
  position: absolute;
}

button:disabled {
  cursor: not-allowed;
}

.trade-chart-container {
  width: 100%;
  height: 400px;
}

.tradeview-chart-container {
  width: 100%;
  height: 600px;
}

.padding-left-5px {
  padding-left: 5px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #5385a3;
  border: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #5385a3;
}

::-webkit-scrollbar-thumb:active {
  background: #5385a3;
}

::-webkit-scrollbar-track {
  background: #2f3241;
  border: 0;
}

.day-mode ::-webkit-scrollbar-track {
  background: #eceff2;
}

::-webkit-scrollbar-track:hover {
  background: #2f3241;
}

.day-mode ::-webkit-scrollbar-track:hover {
  background: #eceff2;
}

::-webkit-scrollbar-track:active {
  background: #2f3241;
}

.day-mode ::-webkit-scrollbar-track:active {
  background: #eceff2;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.break-all-words {
  word-break: break-all;
}

.day-mode .text-white {
  color: #387fe1 !important;
}

.row-header {
  border: 0;
  text-align: center;
  font-size: 9px;
  padding: 5px;
  background-color: #2f3241;
  color: #50819e;
  text-transform: uppercase;
  font-weight: bold;
}

.rows {
  padding: 2px;
  border: solid 1px transparent;
  border-bottom: dotted 1px #2f3241;
}

.rows:last-child {
  border-bottom: 0;
}

.day-mode .rows {
  border-bottom: dotted 1px #eceff2;
}

.rows:hover {
  background-color: #2f3241 !important;
}

.day-mode .rows:hover {
  background-color: #e5e5e8 !important;
}

.rows.active {
  background-color: #2f3241 !important;
  font-weight: bold;
}

.day-mode .rows.active {
  background-color: #e5e5e8 !important;
  font-weight: bold;
}

.row-header-column,
.row-column {
  text-align: center;
}

.rows .row-column:last-child,
.row-header .row-header-column:last-child {
  text-align: right;
}

.rows .row-column:first-child,
.row-header .row-header-column:first-child {
  text-align: left;
  color: #50819e;
}

.day-mode .row-header {
  background-color: #eceff2;
}

.padding-5px {
  padding: 5px;
}

.day-mode .navbar-dark .navbar-text {
  color: #387fe1;
}

.text-warning {
  color: #ffb300 !important;
}

.padding-bottom-16px {
  padding-bottom: 16px;
}

.day-mode .navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 5, 11, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.title-bottom-border {
  border-bottom: solid 1px #363c4e;
  padding-bottom: 5px;
}

.day-mode .title-bottom-border {
  border-bottom: solid 1px #e5e5e8;
}

.nav-brand-img {
  width: 153px;
  height: 38px;
  padding: 0;
  margin-top: 2px;
  background-image: url("../images/logo-white.png");
}

.day-mode .nav-brand-img {
  background-image: url("../images/logo-black.png");
}

.navbar {
  height: 45px;
}

.btn-warning {
  background-color: #ffb300;
  border-color: #ffb300;
  color: #ffffff;
}

.btn-warning:hover {
  color: #ffffff;
}

.display-none {
  display: none;
}

/*
.mini-chart-item {
  background-image: url(../images/mini_chart_bg_v5.png);
  background-repeat: no-repeat;
  height: 73px;
  width: 406px;
}
*/

.outlined {
  text-shadow: -1px -1px 0 #363c4e, 1px -1px 0 #363c4e, -1px 1px 0 #363c4e,
    1px 1px 0 #363c4e;
}

.day-mode .outlined {
  text-shadow: 0 0 0, 0 0 0, 0 0 0;
}

/*
.dashboard-brand-img {
  width: 300px;
  height: 88px;
  padding: 0;
  margin: 0;
  background-image: url("../images/txbit_io.svg");
}

.day-mode .dashboard-brand-img {
  background-image: url("../images/txbit_io_white.svg");
}
*/
.card-footer {
  background-color: #2f3241;
}

.day-mode .card-footer {
  background-color: #eceff2;
}

.img-thumbnail {
  border: 0;
  padding: 1px;
  background-color: #363c4e;
}

.day-mode .img-thumbnail {
  background-color: #eceff2;
}

.login-overlay {
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  width: 100%;
  height: 100%;
  background-color: #131722;
  opacity: 0.8;
}

.day-mode .login-overlay {
  background-color: #eceff2;
}

.max-height-270 {
  max-height: 270px;
}

footer {
  background-color: #131722;
  border-top: 1px solid #363c4e;
  font-size: 13px;
  width: 100%;
}

.day-mode footer {
  background-color: #ffffff;
  border-top: 1px solid #dadde0;
}

.min-height-475px {
  min-height: 475px;
}

.min-width-250px {
  min-width: 450px;
}

.max-height-215px {
  max-height: 215px;
}

.height-30px {
  height: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.7rem;
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

h3,
.h3 {
  font-size: 1.4rem !important;
}

.gainerloseritem {
  min-height: 95px;
}

.notification-message {
  color: #ffffff;
}

.navbar {
  z-index: 9999;
}

.max-width-800px {
  max-width: 800px;
}

.top-balance {
  position: relative;
  display: inline-block;
  height: 17px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto,
.col-xxl-1,
.col-xxl-2,
.col-xxl-3,
.col-xxl-4,
.col-xxl-5,
.col-xxl-6,
.col-xxl-7,
.col-xxl-8,
.col-xxl-9,
.col-xxl-10,
.col-xxl-11,
.col-xxl-12,
.col-xxl,
.col-xxl-auto,
.col-xxxl-1,
.col-xxxl-2,
.col-xxxl-3,
.col-xxxl-4,
.col-xxxl-5,
.col-xxxl-6,
.col-xxxl-7,
.col-xxxl-8,
.col-xxxl-9,
.col-xxxl-10,
.col-xxxl-11,
.col-xxxl-12,
.col-xxxl,
.col-xxxl-auto {
  padding-left: 5px;
  padding-right: 5px;
}

.cursor-help {
  cursor: help;
}

.popover {
  border: 1px solid #363c4e;
  max-width: 350px;
  padding: 0;
}

.day-mode .popover {
  border: 1px solid #dadde0;
}

.popover-header {
  background-color: #131722;
  text-transform: uppercase;
  color: #387fe1;
  font-size: 14px !important;
  font-weight: bold;
  border: 0;
  border-bottom: solid 1px #363c4e;
  padding: 10px;
}

.day-mode .popover-header {
  background-color: #ffffff;
  color: #387fe1;
  border-bottom: solid 1px #dadde0;
}

.popover-body {
  background-color: #131722;
  color: #ffffff;
  padding: 10px;
  border: 0;
}

.day-mode .popover-body {
  background-color: #ffffff;
  color: #387fe1;
}

.popover-body table {
  margin-bottom: 0;
}

.bs-popover-left .arrow::after,
.bs-popover-auto[x-placement^="left"] .arrow::after {
  border-left-color: #131722;
}

.day-mode .bs-popover-left .arrow::after,
.bs-popover-auto[x-placement^="left"] .arrow::after {
  border-left-color: #ffffff;
}

.footer {
  bottom: 0;
  z-index: 9999999;
}

a {
  text-decoration: none;
  color: inherit !important;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

#category {
  font-size: 0.7rem;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 400;
  color: #387fe1;
}

#date {
  font-size: 0.7rem;
  font-weight: 400;
  color: rgb(147, 151, 172);
  margin-right: auto;
}

#title-news {
  font-weight: 600;

  font-size: 1.1em;
  line-height: 1.13636;
  margin-bottom: 5px;
  color: #387fe1;
}

.title-articles {
  color: white !important;
}

#title {
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.13636;
  margin-bottom: 5px;
  color: rgb(243, 243, 243);
}

.uk-card:hover #button-hover {
  color: #387fe1 !important;
  -webkit-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

#content {
  color: rgb(231, 231, 231);
  font-size: 0.92rem;
}

#banner {
  margin: 20px;
  height: 600px;
}

#editor {
  font-size: 0.92rem;
  line-height: 1.75;
}

.card-background {
  background-color: #131722;
}

.category-tabs {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 2px;
}

.category-hover:hover {
  -webkit-box-shadow: 0px 0px 10px -2px rgb(91, 123, 182, 0.5);
  -moz-box-shadow: 0px 0px 10px -2px rgb(91, 123, 182, 0.5);
  box-shadow: 0px 0px 10px -2px rgb(91, 123, 182, 0.5);
  background-color: #131722;
}

.btn-category {
  background-color: #363c4e;
  border: none;
  color: #387fe1;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
}

.uk-button-primary {
  font-weight: 700 !important;
  background-color: #131722;
  color: #387fe1 !important;
  -webkit-transition: background-color 0.3s linear !important;
  -ms-transition: background-color color 0.3s linear !important;
  transition: background-color color 0.3s linear !important;
}

.uk-button-primary:hover {
  background-color: #387fe1 !important;
  -webkit-transition: background-color 0.3s linear !important;
  -ms-transition: background-color color 0.3s linear !important;
  transition: background-color color 0.3s linear !important;
}

.uk-button-primary:hover > span,
.view-all-button:hover > span {
  color: white !important;
}

.container-title {
  font-family: "Raleway", sans-serif;
  color: #63697a;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: -12px;
  padding-top: 3px;
}

.main-hr {
  margin: 0 0 10px 0;
  border-width: 4px;
  border-color: rgb(61, 63, 80);
  position: relative;
}

.project-container-title {
  font-family: "Raleway", sans-serif;
  color: #6e7182;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: -9px;
}

.uk-navbar-nav > li > a,
.uk-navbar-item,
.uk-navbar-toggle {
  min-height: 46px;
}

.hide-scrollbar {
  height: 85vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.view-all-button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(231, 231, 231);
  margin-top: 7px;
  padding: 7px 0px;
}

.uk-margin-bottom {
  margin-bottom: 15px !important;
}

.uk-card-border {
  border: 1px solid #363c4e;
}

.uk-card-border-category:active,
.uk-card-border-category:hover {
  border: 1px solid #363c4e;
}

.txbit-logo-img {
  height: 30px;

  background-image: url("../images/txbit-logo.svg");
}

.share-text {
  padding-top: 14px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #50819e;
}

.news-link:hover {
  color: #387fe1 !important;
}

.navbar-mobile-dropdown {
  background: #131722 !important;
}

#button-hover,
#link-hover {
  border: none;
  color: rgb(231, 231, 231);
  -webkit-transition: color 0.3s ease-in-out 0s;
  -ms-transition: color 0.3s ease-in-out 0s;
  transition: color 0.3s ease-in-out 0s;
}

#link-hover:hover {
  color: #387fe1 !important;
  border-color: #387fe1 !important;
  -webkit-transition: color 0.3s ease-in-out 0s;
  -ms-transition: color 0.3s ease-in-out 0s;
  transition: color 0.3s ease-in-out 0s;
}

#button-hover {
  color: rgb(231, 231, 231);
  -webkit-transition: color 0.3s ease-in-out 0s;
  -ms-transition: color 0.3s ease-in-out 0s;
  transition: color 0.3s ease-in-out 0s;
}

#button-hover:hover {
  color: #387fe1 !important;
  border-color: #387fe1 !important;
  -webkit-transition: color 0.3s ease-in-out 0s;
  -ms-transition: color 0.3s ease-in-out 0s;
  transition: color 0.3s ease-in-out 0s;
}

#link-hover,
#button-hover {
  position: relative;
  text-decoration: none;
}

#link-hover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #387fe1;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#link-hover:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.activeitem {
  border-bottom: 1px solid #387fe1;
}

.navbar-item-text {
  color: #ffffff !important;
}

#link-hover {
  overflow: hidden;
}

#editor > h1 {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0px;
}

#editor > h2 {
  color: rgb(226, 230, 243);
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 0px;
}

#editor > h3 {
  color: rgb(211, 219, 230);
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 0px;
}

#editor > p > a {
  color: #ffb300 !important;
  border: none;
}

#editor > p > em {
  color: #e0e0e0;
}

#editor > p > a:hover {
  border-bottom: 1px #387fe1 solid;
  -webkit-transition: border 1s linear;
  -ms-transition: border 1s linear;
  transition: border 1s linear;
}

#editor > p {
  color: #e0e0e0;
}

#editor > ul {
  color: #e0e0e0;
}

#editor > span {
  color: #e0e0e0;
}

.muted-white-text {
  color: #e0e0e0;
}

.coinmarketcap-currency-widget {
  margin-bottom: 20px;
  margin-top: 10px;
}

.coinmarketcap-currency-widget > div {
  border: none !important;
}

.coinmarketcap-currency-widget > div > div > div > span {
  color: #e0e0e0 !important;
}

.footer-hr {
  color: #363c4e;
  border-top: 1px solid #363c4e;
  margin: 0 1%;
}

.fa-xs {
  font-size: 0.35em;
}

.align-middle {
  vertical-align: middle !important;
}

.more-articles-hover img {
  filter: grayscale(1);
  transition: filter 0.5s ease-in-out;
}

.more-articles-hover:hover img {
  filter: grayscale(0);
  transition: filter 0.5s ease-in-out;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

@media screen and (max-width: 640px) {
  .navbar-item {
    font-size: 14px;
  }

  .navbar-item-text {
    color: #ffffff !important;
  }

  .view-all-button {
    font-size: 1rem;
  }

  .article-actions {
    font-size: 13px;
  }

  .article-actions-padding {
    padding: 10px;
  }

  .category-tabs {
    font-size: 0.8rem;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .container-title {
    font-size: 1.5rem;
    margin-bottom: -7px;
    margin-top: 5px;
  }

  .smaller-tabs-margins-mobile {
    margin-left: 2px !important;
    margin-right: 2px !important;
  }

  #news-container {
    margin-bottom: 50px;
  }
}
